//--------------------------------------------
//				General Classes
//--------------------------------------------

.box{
	background-color: rgba(128, 191, 232, 1);
	box-sizing: border-box;
	padding: 10px;
}