@import "common.less";

.gameSection {
	clear: both;
	.infoBox {
		width: 79.429%;
		height: 100%;
		margin: 10px 0 10px 10px;
	}
	.gameBox {
		margin: 10px 0 10px 10px;
		width:18%; //thumbnail
	}
}

.review {
	.box;
	background-color: rgba(128, 191, 232, 0.4);
	margin: 10px;
	h3 {
		margin: 0;
		width: 58.857%;
	}
	span { 
		float: right;
		margin-right: 10px;
		label {
			font-weight: bold;
		}
	}
	.name {
		float: left;
		margin-left: 10px;
		&:hover {
			color: rgb(39,121,173);
		}
	}
	p {
		clear:both;
	}
}

.reviewForm {
	background-color: rgba(128, 191, 232, 0.4);
	margin: 10px 10px 0 10px;
	box-sizing: border-box;
	padding-left: 10px;

	.addReview {
		margin: 0 0 10px 0;
	}
}

.addReview {
	background-color: rgba(224, 72, 72, 1);
	margin: 10px;
	border: none;
	font-size: 1em; /* 20px / 16px */
	color: #FFFFFF;
	&:hover {
		background-color: rgba(255, 83, 84, 1);
	}
	&:active {
		background-color: rgba(255, 83, 84, 0.5);
	}
}

textarea{
		resize:none;
		width:50%;
		height:50px;
	}