@import 'common.less';

.sideBar{
	.box;
	width: 27.126%;
	float: right;
	padding: 0;
	height: auto;

	li {
		padding: 5px 0px 5px 20px;
		&:hover {
			background-color: rgba(39,121,173,1);
			color: #FFFFFF;
		}
		&:active {
			background-color: rgba(39,121,173,0.5);
		}
	}
}

.favouriteSide {
	a{
		display: inline;
		&:hover{
			color: #000000;
		}
	}
	.removeFavourite{
		float: right;
		margin-right: 10px;
		&:hover {
			color:rgba(224, 72, 72, 1);
		}
	}
}

