@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "common.less";
@import "gamePage.less";
@import "navBar.less";
@import "sideBar.less";

/*
Color Palette:
White:      RGB(255,255,255)
Yellow:		RGB(237,235,100)
Dark Blue:  RGB(39,121,173)
Blue:		RGB(128,191,232)
Red:		RGB(224,72,72)
*/

//--------------------------------------------
//                        Admin Bar
//--------------------------------------------
#adminBar{
    background-color: #000;
    .button {
        width: auto;
        height: auto;
        float: left;
        text-align: inherit;
        padding-top: inherit;
        padding: 0 5px;
        font-size: 0.9em;
        &:hover { 
            background-color: rgba(117, 117, 117, 0.7);
        }
        a {
            color: #fff;
        }
    }
}


//--------------------------------------------
body { 
	margin: 0;
	font: normal 100% 'Open Sans', sans-serif;
}
img {
	width: 38.286%;
	height: 40%;
	float:left;
	//temp
	margin-bottom: 20px;
}

section {
	.box;
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: auto;
	// height: 300px;
	h1 {
		margin: 0;
	}
}

h1,h3 {
	background-color: rgba(224, 72, 72, 1);
	color: #FFFFFF;
	padding: 10px;
	margin: 0;
}
li {
	list-style-type: none; 
}
ul {
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
	display: block;
}

p {
	padding: 10px;
	margin: 0;
}

#wrapper {
	margin: 0 auto;
	height: 800px;
	padding: 1em;
	position: relative;
}

.mainPage {
	width: 70.85%;
	float:left;
}

.button {
	width: 12.55%;
	height:50px;
	float: left;
	text-align: center;
	padding-top: 20px;
	&:hover { 
		background-color: rgba(255, 83, 84, 1);
	}
}

.adv-search {
    margin-bottom: 20px;
}
.displayBox {
	height: auto;
	width: 21%;
	margin: 10px;
	float:left;
	.gameBox {
		height: auto;
		width: 100%;
	}
}

.welcome {
	background-color: rgba(224, 72, 72, 1);
	color:#FFFFFF;
	font-weight: bolder;
	box-sizing: border-box;
	font-size: 3em;
	padding: 10px;
	text-align: center;
}
